* {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font: 400px Helvetica, sans-serif;
    margin: 100px auto;
    padding: 0 0 100px;
    position: relative;
    width: 800px;
}

#container {
    background-color: #fff;
    height: 1em;
    position: relative;
    width: 1.9em;
}
#fieldofblue {
    background-color: #3C3B6E;
    height: 0.54em;
    position: absolute;
        top: 0;
        left: 0;
    width: 0.76em;
}
.inner {
    height: 0.6em;
    overflow: hidden;
    position: relative;
        top: 0.014em;
        left: 0.034em;
    width: 0.8em;
}
.star {
    float: left;
    height: 0.062em;
    margin: 0 0.0650em -0.009em 0;
    width: 0.064em;
}
.star span {
    color: white;
    display: block;
    font-size: 0.0667em;
}
div.row {
    clear: left;
    position: relative;
    left: 0.065em;
}
div.row:first-child {
    top: 0;
    left: 0;
}
div.row:nth-child(odd) {
    left: 0;
}
#thirteen-colonies div.stripe {
    background-color: #fff;
    height: 0.0769em;
}
#thirteen-colonies div.stripe:nth-child(odd) {
    background-color: #B22234;
}
#thirteen-colonies div.stripe:nth-child(8) {
    position: relative;
    z-index: 99;
}
